:root {
  --white: #fff;
  --black: #000;
  --dark: #090b0e;
  --matt-dark: #242424;
  --primary: #7423cd;
  --secondary: #501a8a;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--dark);
  color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body,
button {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
